.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
}
.subscribe-content {
    text-align: center;
    margin: 10px;
}
.input-container {
    display: flex;
    align-items: center;
}

.input-email {
    border: transparent;
}
.img-email {
    margin: 0 15px 0 0;
}
.btn {
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bold;
    animation: ease-in-out;
    animation-duration: .5s;
    border-width: thin;
}
.btn:hover {
    transform: scale(1.02);
}
.btn-primary {
    border-color: transparent;
    background-color: orange;
    color: white;
    font-weight: bold;
}